eclipse/logs/2014-10-20-2.log.gz
*.cfg
*.gz
*.json
*.xml
*.log
*.repositories
*.jar
*.properties
*.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
*.prefs
*.txt
*.dat
*.tree
*.lock
*.bin
*.gen
*.zip
*.version
*.resources
*.xmi
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
*.ini
.project
eclipse/.metadata/.mylyn/.taskListIndex/segments_1
*.launch
eclipse/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
eclipse/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.mylyn/.taskListIndex/segments_1
eclipse/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
eclipse/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
*.history
eclipse/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/segments_1
*.fdt
*.fdx
*.fnm
*.frq
*.nrm
*.prx
*.tii
*.tis
gradlew
*.bat
*.classpath